.bg_img_bottom_right{
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 65vw auto !important;
}
.wb_gioithieu {
	
	min-height: 100vh;
	padding-bottom: 30px;
	background-image: var(--bg);
	background-position: bottom right;
	background-repeat: no-repeat;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	.wpb_text_column {
		width: 588px;
		max-width: 100%;
		margin-bottom: 35px;
		margin-top: 20px;
	}	
	@include xlarge{
		padding-bottom: 15px;
		background-size: 55vw auto!important;
	}
	@include large{
		padding-bottom: 0px;
		background-size: 48vw auto!important;
	}
	@include tablet_lg{
		min-height: unset;
		height: auto;
		padding-top: 100px!important; 
	}
	@include tablet{
		padding-bottom: 30vw;
		
	}
	@include mobile{
		padding-bottom: 50vw;
		
	}
}