.section{
	&.wb_sanpham {
		padding-top: 55px;
		
	}
	&.wb_crown_collection{
		padding-top: 80px;
		.slider_wrapper{
			padding-top: 75px;
			padding-bottom: 120px;
		}
	}
	&.wb_section_tienich{
		padding-top: 80px;
		padding-bottom: 56px;
	}
	&.wb_thu_vien_anh {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}