.wb_text_box_wraper {
	padding-top: 120px;
	.wb_text_box{
		&:nth-child(2n){
			.row{
				flex-direction: row-reverse;
				@include tablet{
					flex-direction: row;
				}
				.col-md-6:first-child{
					padding-left: 0;
					@include tablet{
						padding-left: 15px;
					}
				}
				.col-md-6:last-child{
					padding-right: 40px;
					@include tablet{
						padding-right: 15px;
					}
				}
			}
		}
		&:nth-child(2n+1){
			.row{
				.col-md-6:first-child{
					padding-right: 0;
					@include tablet{
						padding-right: 15px;
					}
				}
				.col-md-6:last-child{
					padding-left: 40px;
					@include tablet{
						padding-left: 15px;
					}
				}
			}
		}
	}
}
.wb_text_box{
	padding: 15px 0;	
	.vc_figure,.vc_single_image-wrapper,img{
		width: 100%;
	}
	.row{
		align-items: center;
	}
	@include tablet{
		img{
			margin-bottom: 35px;
		}
	}
	&:not(.vc_rtl-columns-reverse){
		.vc_col-sm-6{
			&:nth-child(2n){
				padding-left: 25px;
				@include tablet{
					padding-left: 0;
				}
			}
			&:nth-child(2n+1){
				.vc_column-inner{
					padding-right: 0;
					@include tablet{
						padding-right: 15px;
					}
				}
			}
		}
	}
	&.vc_rtl-columns-reverse{
		flex-direction: row-reverse;
		.vc_col-sm-6{
			&:nth-child(2n){
				padding-right: 25px;
				@include tablet{
					padding-right: 0;
				}
			}
			&:nth-child(2n+1){
				.vc_column-inner{
					padding-left: 0;
					@include tablet{
						padding-left: 15px;
					}
				}
			}
		}
	}
}
.wb_tienich {
	
	display: flex;
	flex-direction: column;
	height: 100%;
	
	.thumb {
		margin-bottom: 12px;
		.holder{
			padding-top: calc(337/579*100%);
		}
	}
	.content{
		padding: 45px 44px 26px;
		position: relative;
		border: 1px solid var(--gold);
		flex-grow: 1;
		.title {
			position: absolute;
			top:0;
			padding: 10px 55px;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 700;
			background-color: var(--gold);
			color: var(--white);
			margin-top: -30px;
			
		}
		@include small{
			padding: 30px 30px 20px;
		}
		ul{
			margin: 0;
		}
	}
}
.wb_tienich_group {
	margin-left: -20px;
	margin-right: -20px;
	>*{
		padding-left: 20px;
		padding-right: 20px;
	}
	&.vc_row {
		margin-left: -20px;
		margin-right: -20px;
		margin-top: -20px;
		@include tablet{
			margin-top: 0;
		}
		>.wpb_column {
			>.vc_column-inner{
			padding-left: 20px;
			padding-right: 20px;
			}
		}
	}
	.item-wrap{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&.slick-initialized {
		.slick-slide{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}