@font-face {
    font-family: 'SVNPFDinText';
    src: url('#{$fa-font-path}/SVNPFDinTextProRegular.eot');
    src: url('#{$fa-font-path}/SVNPFDinTextProRegular.eot') format('embedded-opentype'),
         url('#{$fa-font-path}/SVNPFDinTextProRegular.woff2') format('woff2'),
         url('#{$fa-font-path}/SVNPFDinTextProRegular.woff') format('woff'),
         url('#{$fa-font-path}/SVNPFDinTextProRegular.ttf') format('truetype'),
         url('#{$fa-font-path}/SVNPFDinTextProRegular.svg#SVNPFDinTextProRegular') format('svg');
     font-weight: 400;
}
@font-face {
    font-family: 'SVNPFDinText';
    src: url('#{$fa-font-path}/SVNPFDinTextProMedium.eot');
    src: url('#{$fa-font-path}/SVNPFDinTextProMedium.eot') format('embedded-opentype'),
         url('#{$fa-font-path}/SVNPFDinTextProMedium.woff2') format('woff2'),
         url('#{$fa-font-path}/SVNPFDinTextProMedium.woff') format('woff'),
         url('#{$fa-font-path}/SVNPFDinTextProMedium.ttf') format('truetype'),
         url('#{$fa-font-path}/SVNPFDinTextProMedium.svg#SVNPFDinTextProMedium') format('svg');
         font-weight: 500;
}
@font-face {
    font-family: 'SVNPFDinText';
    src: url('#{$fa-font-path}/SVNPFDinTextProBold.eot');
    src: url('#{$fa-font-path}/SVNPFDinTextProBold.eot') format('embedded-opentype'),
         url('#{$fa-font-path}/SVNPFDinTextProBold.woff2') format('woff2'),
         url('#{$fa-font-path}/SVNPFDinTextProBold.woff') format('woff'),
         url('#{$fa-font-path}/SVNPFDinTextProBold.ttf') format('truetype'),
         url('#{$fa-font-path}/SVNPFDinTextProBold.svg#SVNPFDinTextProBold') format('svg');
         font-weight: 700;
}
@font-face {
    font-family: 'SVNPFDinText';
    src: url('#{$fa-font-path}/SVNPFDinTextProBlack.eot');
    src: url('#{$fa-font-path}/SVNPFDinTextProBlack.eot') format('embedded-opentype'),
         url('#{$fa-font-path}/SVNPFDinTextProBlack.woff2') format('woff2'),
         url('#{$fa-font-path}/SVNPFDinTextProBlack.woff') format('woff'),
         url('#{$fa-font-path}/SVNPFDinTextProBlack.ttf') format('truetype'),
         url('#{$fa-font-path}/SVNPFDinTextProBlack.svg#SVNPFDinTextProBlack') format('svg');
         font-weight: 900;
}
