*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
}
html{
	scroll-behavior: smooth;
}
ul,ol{
	list-style: none;
}
img{
	max-width: 100%;
	height: auto;
}
iframe{
	max-width: 100%;
}
body{
	font-family: var(--font),sans-serif;
	background-color: var(--black);
	color: var(--color-text-black);
	line-height: 1.5 ;
}
a{
	color: inherit;
	
}

.container {
	@media (min-width: 1368px){
	max-width: 1230px;
	}
	@include tablet_lg{
		max-width: 100%;
	}
}

.image_full {
	.vc_figure,.vc_single_image-wrapper,img{
		width: 100%;
		vertical-align: top;
	}
	.wpb_single_image {
		margin: 0;
	}
}
.bg-brown{
	background-color: var(--brown);
	color: var(--color-text-brown);
}
.wpb_text_column {
	p{
		margin: 1.5em 0;
		&:first-child{
			margin-top: 0;
		}
	}
	hr{
		width: 160px;
		max-width: 100%;
		border:none;
		height: 1px;
		background-color: currentColor;
		margin: 1.5em 0;
	}
	ul{
		@include list_dots;
	}
}
.swiper{
	.controls{
		display: flex;
		.swiper-pagination{
			margin-right: auto;
			.swiper-pagination-current{
				font-size: 24px;
				font-weight: 700;
				color: var(--gold);
			}
			.swiper-pagination-total{
				font-size: 14px;
			}
		}
		.swiper-arrow{
			cursor: pointer;
			padding: 5px;
			margin-left: 25px;
		}
	}
}
.single-content {
	ul{
		@include list_dots;
	}
}
input{
	&[type="text"],&[type="password"],&[type="email"],
	&[type="tel"]{
		@include fieldsapperance;
		@include buttonpadding(52,1.4,16,1px);
		background-color: transparent;
		color: inherit;
		
	}
}
.wpcf7 {
	.wpcf7-text{
		border-color: var(--gold);
	}
	.form-row{
		margin-top: 10px;
	}
}
.btn{
	@include fieldsapperance;
	@include buttonpadding(50,1.4,16,1px);
	background-color: transparent;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	&.btn-gold{
		background-color: var(--gold);
		color: var(--white);
	}
}
.socials{
	ul{
		margin: 0 -8px;
		display: flex;
		color: var(--gold);
		li{
			padding: 0 8px;
			a{
				font-size: 28px;
			}
		}
	}
}
.body-wrapper {
	overflow: hidden;
}
.vc_empty_space {
	&.spacer_120{
		@include tablet{
			height: 60px!important;
		}
		@include mobile{
			height: 30px!important;
		}
	}
	&.spacer_80,
	&.spacer_55,
	&.spacer_75,
	&.spacer_84
	{
		@include tablet{
			height: 30px!important;
		}
	}
}
.special_img {
	position: relative;
	&:before,
	&:after{
		position: absolute;
		pointer-events: none;
		content: '';
		background:linear-gradient(90deg, #A47430 0%, #BEAE8F 100%);;
		left: 50%;
		transform: translateX(-50%);
	}
	&:before{
		height: 12px;
		width: 80%;
		bottom: 0;
	}
	&:after{
		bottom: 22px;
		height: 8px;
		width: 70%;
	}
}
.align-center{
	text-align: center;
}